template(name='about')
    .ui.header ABOUT US
    .ui.two.column.grid
        .column
            img(src="https://img1.wsimg.com/isteam/ip/e8847b5c-4e57-4536-80f4-32e7c5632531/a382f3d5-45fa-4fb0-b256-87921e0307a4.jpg/:/rs=w:538,h:269,cg:true,m/cr=w:538,h:269")
        .column
            p
                |Non-traditional co-housing design
                |We are proud to have a non-traditional co-housing design at Boulder Creek Community in Boulder, Colorado. We are what is called an in-fill co-housing community where an existing structure or set of buildings is filled-in by community members to create co-housing. Our founder, Greg, purchased 17 units (apartment-style condominiums) inside this 363-unit Gold Run condominium complex situated on a 12 acre creekside property. Members of our co-housing community may optionally  either rent  one of Greg’s condos, or rent or buy any Gold Run condo that is available.  Actively participating community members who have committed to the community, may have the option to buy one of Greg’s  condos at more favorable purchase terms (see the Rent/Buy page for details). Like many co-housing communities, we also have a few members who live “off-campus” elsewhere in Boulder, but who attend our events. Contact us to check out our Co-housing Community in Boulder and our Creekside Rentals in Boulder.
    .ui.two.column.padded.grid
        .column
            p 
                |Our Foundation Is Service
                |Our community is centered around the idea of service. We host events related to one of four core themes related to service:
                
                |Service to our wider community (events include regular opportunities to volunteer with the elderly or the homeless; creek-side clean-ups and other environmentally focused events, etc.).
                |Service to the Boulder Creek Community (events include monthly community meetings and dinners).
                |Service to ourselves that promotes personal and interpersonal growth (events include heart centered activities like yoga of laughter, drumming, poetry night, morning meditation, and personal growth workshops).
                |Service to the general public that promotes education about and opportunities to experience community living (also known as the Community Learning Center or CLC). This is an intentional way to host guests or “community explorers” from all over the world who are curious about community living. See the Visit Us page for details.
        .column
            img(src="https://img1.wsimg.com/isteam/ip/e8847b5c-4e57-4536-80f4-32e7c5632531/159db28a-e87c-464b-8397-68ad305a0e67.jpeg/:/rs=w:538,h:269,cg:true,m/cr=w:538,h:269")
    .ui.two.column.grid
        .column
            .ui.header Founder, Greg Sherwin
            p 
                |Boulder Creek Community was founded in 2007 by visionary Greg Sherwin who had a dream of creating a more affordable urban cohousing community in the heart of Boulder, Colorado. Greg traveled to 55 cohousing and intentional communities around the country researching his dream before settling on an unconventional model for Boulder Creek Community.
        .column
            img(src="https://img1.wsimg.com/isteam/ip/e8847b5c-4e57-4536-80f4-32e7c5632531/b77d7acd-0f65-4031-9505-423b68c428bc.jpg/:/rs=w:538,h:269,cg:true,m/cr=w:538,h:269")
    .ui.two.column.grid
        .column
            |VISION AND MISSION STATEMENT
            |BCC VISION/MISSION/PURPOSE STATEMENT, 2018/19
            .ui.header Our vision and philosophy at Boulder Creek Community, is to create a dynamically diverse environment where new community explorers and members are supported in their unique processes of personal and community development thru acts of learning, co-creating and service. We embrace this development process, by taking time each year, in August, to explore and co-create our most important community vision, mission, purpose and structure for the coming year.
            |BOULDER CREEK COMMUNITY VISION, MISSION AND 2018/19 PURPOSE STATEMENTS:
            |VISION:
            |Each community member is participating, individually and in community, in the creation of a sustainable society i.e., a heartfelt way of being together.
            |MISSION:
            |We are both a residential and non-residential community dedicated to happiness, personal growth and inspiration. We support short-term experiential community learning and living opportunities, as well as long-term community membership. We foster the growth of interpersonal relationships and belonging through:
            |1)  being: creatively enjoying each others’ company and having fun;
            |2)  expanding: growing personally through lifelong learning;
            |3)  deepening: developing community living skills, furthering connection to self and others;
            |4)  serving: contributing to the broader community/society;
            |5)  sharing: offering resources, skills, knowledge, ideas, and experience;
            |6)  supporting: cultivating the well-being of community members.
            |2018/19 COMMUNITY PURPOSES:
            |Our intention, this year, is to create community events that are creatively focused on 1) Higher Purpose, 2) Resonance and 3) Service
            |1. EXPLORING OUR HIGHER PURPOSE in Intimate Relationships, Community, Environment, Business and Politics:
            |WHAT IS A PURPOSE?   “Simply put, it’s a definitive statement about the difference that you are trying to make.”  Read More
            |2. EXPLORING RESONANCE: 
            |The central higher purpose and value of current Boulder Creek Community members is the intention and process of  individually and collectively deepening into our experience and expression of Resonance within and between ourselves.
            |Whenever and wherever we gather, we share this intention  and commitment to use each moment as an opportunity to become more resonant with ourselves and with each other regardless of the circumstances.
            |We recognize that this work, this opportunity, always begins with ourselves. Read More
            |3. SERVICE:  We recognize that service is the “higher purpose” action that gives meaning to life. We are in love with the service based life. We are open to discovering ways that we might be in service to ourselves, the community, and the world at large through activities that work well in our lives. We recognize that acts of service are the proactive playground by which we, in community with others, explore and develop our capacities to be in resonance.  
            |We recognize the importance of choosing community service* activities to engage in and share with others, that we agree is important, is a necessary ingredient to create a dynamic environment for the journey toward intimacy to show up.
            |*Service includes service in support of our personal growth, of other community members, community explorers, that larger community outside of BCC and our earth. 
            |CONNECTING WITH US: Are you interested in speaking with someone to discover your interest in being in this co-creative community? If, after reading the guiding statements above, you feel aligned with this vision and would like to explore possibilities, please reach out to us via the contact info below.