template(name='home')
    // +home_slider
    .ui.stackable.centered.grid
        // .one.column.row
        //     .center.aligned.column
        //         .ui.big.header.f20.lower
        //             |{{lower "we deliver local, organic groceries, meals and household products in zero-waste, reusable containers to your door by bicycles"}}

        // .one.column.row
        //     .center.aligned.column
        //         .ui.header start shopping zero waste!
        .one.column.row
            .column
                img(src="https://img1.wsimg.com/isteam/ip/e8847b5c-4e57-4536-80f4-32e7c5632531/58d544a9-19ae-4844-a7b3-317a40a119a0.jpg/:/rs=h:500,cg:true,m")
                .ui.dividing.header 
                    |HAPPY LIVING AT BOULDER CREEK COMMUNITY CO-HOUSING
        .one.column.row
            .column
                img(src="https://img1.wsimg.com/isteam/ip/e8847b5c-4e57-4536-80f4-32e7c5632531/67ae7496-a27c-4fa8-a097-871e5f9560a3.jpg/:/rs=w:1136,h:568,cg:true,m/cr=w:1136,h:568")
                .ui.header Boulder's Intentional Creekside Co-housing Community
                .ui.hidden.divider
                .ui.header Boulder Creek Community (BCC) is an intentional/cohousing community made up of approximately twelve residential and non-residential members functioning within a 12-acre 363-unit condominium complex called Gold Run. The complex is situated in the heart of Boulder and is bordered by the beautiful Boulder Creek multi-use path, Scott Carpenter Park, the campuses of the University of Colorado Boulder (CU) and Naropa University, and the 29th Street Mall. Our lofts, flats and townhouses are surrounded by mature trees and plenty of green space.
    +footer